---
const codeStyles =
  'prose-code:mx-[0.5px] prose-code:px-1.5 prose-code:py-0.5 prose-code:font-medium prose-code:text-primary-800/90 before:prose-code:hidden after:prose-code:hidden dark:prose-code:text-foreground';

const linksStyles =
  'prose-a:decoration-accent-400 prose-a:underline-offset-[3px] prose-a:transition-colors prose-a:duration-100 hover:prose-a:text-accent-300';

const hrStyles =
  'prose-hr:border-accent-500 dark:prose-hr:border-accent-400 dark:prose-hr:border-opacity-60';

const tableStyles =
  'prose-table:border prose-th:border-r prose-th:px-3 prose-td:border-r prose-td:px-3 dark:prose-table:border-primary-600 dark:prose-th:border-primary-600  dark:prose-td:border-r dark:prose-td:border-primary-600';

const baseStyles =
  'prose min-h-full leading-[1.65] dark:prose-invert prose-h1:pt-2';

// const widthStyles =
//   'max-w-64 3xs:max-w-xs 2xs:max-w-sm xs:max-w-md sm:max-w-xl md:max-w-2xl min-[868px]:max-w-3xl lg:max-w-[42rem] xl:max-w-4xl';
---

<div
  class:list={[
    baseStyles,
    tableStyles,
    hrStyles,
    linksStyles,
    codeStyles,
    'xl:max-w-[75ch]',
  ]}>
  <slot />
</div>

<style is:global>
  :not(pre) > code {
    @apply mx-0.5 rounded-md bg-slate-200 px-1.5 py-1 dark:bg-slate-700/75;
  }
</style>
